// Colors
$off-black: #20222b;
$eerie-black: #1B1B1B;
$white-smoke: #f5f5f5;
$snow: #FFFAFA;
$lavendar: #CCA8D4;
$cosmic-latte: #FFFBE5;
$baby-power:#fefefa;
$dark-blue: #496be7;
$dandelion: #EDE126;
$blue: #b4b5fcab;
$light-blue: #F2F2F2;
$off-white: #a5afd7;
$purple: #8357c5;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
